<section class="layout-hero d-flex align-items-center mt-5 text-reverse">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-8 animated fadeInUp">
        <h3 class="page-section-title text-light">{{title}}</h3>
        <p class="page-section-text lead text-light">{{summary | url}}</p>
      </div>
    </div>
  </div>
</section>