<div class="layout-social container d-flex justify-content-center">

  {% if metadata.author.social.linkedin %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.linkedin}}">
      <i class="fab fa-linkedin"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.github %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.github}}">
      <i class="fab fa-github"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.twitter %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.twitter}}">
      <i class="fab fa-twitter"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.youtube %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.youtube}}">
      <i class="fab fa-youtube"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.dribbble %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.dribbble}}">
      <i class="fab fa-dribbble"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.flickr %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.flickr}}">
      <i class="fab fa-flickr"></i>
    </a>
  {% endif %}

  {% if metadata.author.social.facebook %}
    <a class="text-light px-2" target="_blank" href="{{metadata.author.social.facebook}}">
      <i class="fab fa-facebook"></i>
    </a>
  {% endif %}

</div>