---
layout: layouts/base.njk
---

<article id="main-content" class="container mt-3 mb-5 px-3 px-sm-0"
{% if carousel.items==null and hero==null%}style="padding-top: 60px"{%endif%}
>
  <h1 class="text-primary">{{title}}</h1>
  {{ content | safe }}
</article>
