---
layout: layouts/base.njk
---
<header id="page-hero" class="site-header {% if not hero %}mt-5 pt-5{% endif %}site-header d-flex align-items-center justify-content-center " {% if hero %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50px, transparent), url({{ hero }}); min-height: 50vh;" {% endif %}>
<section class="layout-hero d-flex align-items-center mt-5 text-reverse">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h1 class="page-section-title text-light">Seven</h1>
        <p class="page-section-text lead text-light display-1" style="text-shadow: 1px 1px 10px #000; font-size: 1.7em;">
          An <a class="text-warning font-weight-bold" href="https://www.11ty.io/">eleventy</a> template based on <a class="text-warning font-weight-bold" href="http://www.raybo.org/bootstrap4layouts/">bootstrap4layouts</a>. Includes webpack, sass version of bootstrap, vue.js powered search and a whole lot more.
        </p>
        <div><a class="btn btn-lg btn-outline-light" href="https://github.com/planetoftheweb/seven">Github Repo</a></div>
      </div>
    </div>
  </div>
</section>
</header>
<article id="main-content" class="site-main container mt-3 mb-5">
{{ content | safe }}
</article>
