---
layout: layouts/base.njk
---

{% if carousel.items %}
  {% include "includes/header-carousel.njk" %}
{% elif hero %}
<header id="page-hero" class="site-header position-relative {% if not hero %}mt-5 pt-5{% endif %} site-header" style="width: 100vw; min-height: {{(headerHeight) if headerHeight else '50vh'}};">
<section class="layout-hero position-absolute d-flex align-items-center" {% if hero %} style="background-image: linear-gradient(rgba(0, 0, 0, .7) 50px, transparent), url({{ hero }}); height: 100%; width: 100%; filter: blur({{(blur) if blur else '0'}});" {% endif %}></section>
<div class="layout-hero-content position-absolute d-flex align-items-center" style="height: 100%; width: 100%;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h1 class="page-section-title text-light">{{metadata.title}}</h1>
        <p class="page-section-text text-light">
          An <a class="text-warning font-weight-bold" href="https://www.11ty.io/">eleventy</a> template based on <a class="text-warning font-weight-bold" href="http://www.raybo.org/bootstrap4layouts/">bootstrap4layouts</a>. Includes webpack, sass version of bootstrap, vue.js powered search and a whole lot more.
        </p>
        <div><a class="btn btn-lg btn-outline-light" href="https://github.com/planetoftheweb/seven">Github Repo</a></div>
      </div>
    </div>
  </div>
</div>
</header>
{% endif %}

<article id="main-content" class="page-home site-main container"
{% if carousel.items==null and hero==null%}style="padding-top: 60px"{%endif%}
>
{{ content | safe }}
</article>
