---
layout: layouts/base.njk
blur: 3px
---
{% include "header.njk" %}

<article id="main-content" class="site-main container mt-3 mb-5">
<main class="px-3 px-sm-0">
{{ content | safe }}
</main>
</article>