---
layout: layouts/base.njk
sidebar: true
---
  {% include "includes/header.njk" %} 
  <div class="post post-sidebar container-fluid">
    <div class="row justify-content-xl-center">
      {% if collections.rayveal.length > 1 -%}

      <aside class="aside aside-main d-none d-md-block col-md-3 col-lg-2">
        <nav class="sticky-top list-group list-group-flush text-right" id="collapseExample">

          {% set sidebarNav = collections.all | eleventyNavigation(sidebar) %}

          {%- for nav in sidebarNav | reverse -%}
           <a class="list-group-item d-flex justify-content-end align-items-center" href="{{ nav.url | url }}">{{ nav.title | safe }}<i class="fas fa-file-alt ml-2"></i></a>
          {%- endfor -%}

        </nav>
      </aside>


      {% endif -%}
      <main class="main col">
      {{ content | safe }}
      </main>
      <aside class="aside aside-supplemental d-none d-lg-block col-lg-2 col-xl-2" >
        <nav class="sticky-top">
        {{ content | toc | safe }}
        </nav>
      </aside>
    </div>
  </div>
</div>
