---
layout: layouts/base.njk
blur: 3px
---
{% include "header.njk" %}

<article id="main-content" class="site-main container mt-3 mb-5">
<h1 class="text-primary mt-5 mb-3">{{ title }}</h1>
{{ content | safe }}
</article>