{% for linkName, url in item.links %}
  {% if linkName== 'lil' %}
  <a href="{{ url | safe }}" class="text-info mr-3 mr-lg-1"><i class="fab fa-linkedin"></i>
    <span class="d-none d-lg-inline">on LinkedIn</a></span>
  {% endif %}
  {% if linkName== 'repo' %}
  <a href="{{ url | safe }}" class="text-info mr-3 mr-lg-1"><i class="fab fa-github"></i>
    <span class="d-none d-lg-inline">repo</a></span>
  {% endif %}
  {% if linkName== 'demo' %}
  <a href="{{ url | safe }}" class="text-info mr-3 mr-lg-1"><i class="fas fa-globe"></i>
    <span class="d-none d-lg-inline">demo</a></span>
  {% endif %}
{% endfor %}
