<section reversed class="mb-5" style="counter-reset: start-from {{ postslist.length + 1 }}">
  <div class="row justify-content-center family-sans ">
    {% for item in itemList %}

      {# If this is a post #}
      {% if item.data %}
        {% set thumb = item.data.thumb %}
        {% set title = item.data.title %}
        {% set summary = item.data.summary %}
        {% set date = item.date | simplifyDate %}
        {% set defaultURL = '' %}
        {% set links = item.data.links %}
        {% set tags = item.data.tags %}
        
        {% if item.data.links[0] %}
          {% for name, link in item.data.links[0] %}
            {% set defaultURL = link %}
          {% endfor %}
        {% else %}
            {% set defaultURL = item.url %}
        {% endif %}
      {% endif %}

      <section class="col-12 my-1 my-lg-3">
        <time class=" d-none d-lg-block text-muted" datetime="{{ date }}">{{ date | courseDate }}</time>
        {% if thumb %}
          <a href="{{ defaultURL | url }}" class="w-100 d-none d-lg-block mb-1"><img class="w-100 img-fluid rounded" src="{{ thumb }}" alt="{{ title }} photo"></a>
        {% endif %}
        <a href="{{ defaultURL | url }}" class="h3 text-primary d-block my-1">{{title}}</a>
        <p class="mb-1  text-secondary d-none d-lg-block">{{ summary }}</p>
        {% include "tags.njk" %}
        {% include "links.njk" %}
       </section>
    {% endfor %}
  </div> 
</section>
