<div class="tagslist">
  {% for tag in tags %}
    {%- if tag != "post" -%}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="badge badge-info family-sans">{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
</div>