<header id="page-hero" class="site-header position-relative {% if not hero %}mt-5{% endif %} site-header" style="width: 100vw; {% if hero %}min-height: {{(headerHeight) if headerHeight else '50vh'}};{% endif %}">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, .7) 50px, transparent), url({{ hero }}); height: 100%; width: 100%;  filter: blur({{(blur) if blur else '0'}});" ></section>
<div class="layout-hero-content position-absolute d-flex align-items-center w-100 h-100">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">{{title}}</h2>
        <p class="page-section-text text-light d-none d-md-block">
          {{summary | safe}}
        </p>
      </div>
    </div>
  </div>
</div>
</header> 
