<div class="tagslist d-none d-lg-block mt-2">
  {% for tag in item.data.tags %}
    {%- if (tag != "post" and tag != "nav") -%}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="badge badge-special">{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
</div>