$headings-font-family: Asap;
$primary: #00adb5;
$secondary: #f8b500;
$body-bg: #393e46;
$text-body: #95a5b1;
$body-color: $text-body;
$border-radius: 8px;

$enable-responsive-font-sizes: true;
$rfs-base-font-size: 1rem;
$enable-caret: false;

$enable-shadows: true;

$spacer: 1rem;

$spacers: (
  huge: (
    $spacer * 8
  )
);

$grid-gutter-width: 16px;

$pagination-bg: $primary;
$pagination-color: darken($primary, 20%);
$pagination-border-color: darken($body-bg, 7%);

$pagination-active-bg: $secondary;
$pagination-active-border-color: darken($body-bg, 7%);

$pagination-disabled-bg: darken($body-bg, 3%);
$pagination-disabled-border-color: darken($body-bg, 7%);

$pagination-hover-bg: $secondary;
$pagination-hover-border-color: darken($body-bg, 7%);

$card-border-radius: 0;
$list-group-bg: $body-bg;
$list-group-active-bg: $secondary;

$link-color: $primary;
$link-hover-color: lighten($link-color, 10%);
$link-hover-decoration: none;
