---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="h2  family-emphasis font-weight-bold text-primary ">{{ title }}</div>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
