<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer="defer" src="/js/lib/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ metadata.title }}</title>
  </head>

  <body data-spy="scroll" data-target=".site-nav" data-offset="55">

    <header id="page-hero" class="site-header d-flex align-items-center justify-content-center " {% if hero %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50px, transparent), url({{ hero }}); min-height: 50vh;" {% endif %}>

      <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">

          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand text-uppercase" href="{{ '/' | url }}">
            <i class="fas fa-cube mr-2"></i>
            {{ metadata.title }}</a>

          <div class="collapse navbar-collapse" id="myTogglerNav">
            <div class="navbar-nav ml-auto font-weight-regular text-uppercase">

              {%- for nav in collections.nav | reverse -%}
                <a class="nav-item nav-link{% if nav.url == page.url %} active{% endif %}" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
              {%- endfor -%}
            </div>
          </div>

        </div>
      </nav>

      {% if title %}
      <section class="layout-hero d-flex align-items-center text-light text-center w-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-8 animated fadeInUp">
              <div class="h2 family-sans font-weight-light">{{ title }}</div>
              <p class="page-section-text">{{ summary | safe }}</p>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    </header>

    <article class="{% if templateClass %}{{ templateClass }}{% endif %}">
      <div class="container my-5">
        {{ content | safe }}
      </div>
    </article>

    <footer class="site-footer bg-reverse">
      {% include "social.njk" %}
    </footer>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
  </body>

</html>