.animated {
  visibility: visible !important;
}

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  text-rendering: auto;
  width: 50px;
  height: 50px;
}

.site-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50px, transparent),
    url(https://dummyimage.com/16:9x400/6.png&text=+);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .site-header .navbar-collapse {
    padding: 10px;
    transition: all 0.5s ease-out;
  }
}

.site-nav.inbody {
  background: rgba($primary, 0.9);
}

.site-header .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.site-header .nav-link {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.site-header .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light);
  visibility: hidden;
  transform: scaleX(0);
}

.site-header .nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/* Layout Icons */

.layout-iconcolumns .layout-icon {
  font-size: 2.8em;
  padding-bottom: 1.4em;
  color: var(--gray);
}

/* Layout Icons */

.layout-social .icon {
  font-size: 3em;
}

.layout-social {
  font-size: 2em;
}
