@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

$enable-responsive-font-sizes: true;
$primary: #0b729b;
$secondary: #a7304e;
$color-medium: #ddd;

$font-family-highlight: asap, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-weight: 700;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "after";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-highlight;
}

.h3 {
  @include font-size(2.2rem);
  font-family: $font-family-highlight;
  font-weight: $font-weight-bold;
}

.main-sidebar .h3 {
  font-family: $font-family-highlight;
}

nav {
  transition: all 1s ease-in-out;
}

.main-sidebar {
  .h3 {
    @include font-size(2rem);
  }
  @media (max-width: 992px) {
    .h3 {
      font-size: 1rem;
    }
  }
}
