---
layout: layouts/page-home.njk
hero: https://lil-cdn.com/585273/computing-apps-threequarter-211095871.jpg
eleventyNavigation:
  key: main
---

{% set postslist = collections.posts | head(11) %}
{% set courselist = collections.courses | head(7) %}

<div class="row">
  <div class="main-content col-md-9">
    <h4 class="family-sans text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Posts</h4>
    {%- for item in postslist %}
    {% include "includes/items.njk" %}
    {% endfor -%}
  </div>
  <div class="main-sidebar col-md-3">
    <h4 class="text-secondary mt-2 mb-4 px-3 px-sm-0">Latest Courses</h4>
    {% set itemList = courselist %}
    {% for item in itemList %}
    {% include "includes/sidebar.njk" %}
    {% endfor -%}
  </div>
</div>