---
permalink: /js/data.js
---
[{%- for item in collections.searchable %}{% set defaultURL = '' %}{% if item.data.links[0] %}{% for name, link in item.data.links[0] %}{% set defaultURL = link %}{% endfor %}{% else %}{% set defaultURL = item.url %}{% endif %}{
  "title": "{{ item.data.title }}",
  "date" : "{{item.date | simpleDate | safe}}",
  {% if item.data.summary %}"summary" : "{{ item.data.summary | escape | safe }}",{% endif %}
  {% if item.thumb %}"thumbnail": "{{item.thumb}}",{% endif %}{% if item.data.thumb %}"thumbnail": "{{item.data.thumb}}",{% endif %}
  "url": "{{defaultURL}}",
  {%- for tag in item.data.tags %}{% if tag == 'course' %}"icon": "<i class=\"fas fa-graduation-cap\"></i>",{% endif %}{% if tag == 'project' %}"icon": "<i class=\"fas fa-project-diagram\"></i>",{% endif %}{% if tag == 'post' %}"icon": "<i class=\"far fa-file-alt\"></i>",{% endif %}{%- endfor %}
  "tags" : "{{ item.data.tags | safe }}"
}{% if not loop.last %},{% endif %}{%- endfor %}]
