<nav class="site-nav family-sans navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-uppercase" href="{{ '/' | url }}">
      <i class="fas fa-cube mr-2"></i>
      {{ metadata.title }}
      </div>

    <div class="collapse navbar-collapse" id="myTogglerNav">
      <div class="navbar-nav ml-auto font-weight-regular text-uppercase">
        {# These next two links are hidden are allow scrollspy to detect the current page #}
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>
        <a class="nav-item nav-link {% if navtitle==null %}font-weight-bold  text-white{% endif %}" href="/">Home</a>
        {%- for nav in collections.nav | reverse -%}
          {% if nav.url == page.url %}
          <a class="nav-item nav-link disabled font-weight-bold text-white" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</nav>
