---
layout: layouts/home.njk
templateClass: tmpl-courses
tags:
  - nav
navtitle: Courses
permalink: /courses/ 

---

{% set postslist = collections.posts | head(-10) %}
{% set courselist = courses | sortDataByDate | head(-10) %}

<div class="row">
  <div class="main-content col-md-9">{% include "courselist.njk" %}</div>
  <div class="main-sidebar col-md-3">
    <h3 class="family-sans text-primary">Latest Courses</h3>
    {% include "itemslist.njk" %}
  </div>
</div>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
