---
layout: layouts/home.njk
hero: http://pixelprowess.com/i/computers/computing-apps-threequarter-211095871.jpg
---

{% set postslist = collections.posts | head(-10) | reverse %}
{% set courselist = collections.courses | head(-7) | reverse %}

<div class="row">
  <div class="main-content col-md-9">
    {% set itemList = postslist %}
    {% include "itemslist.njk" %}
  </div>
  <div class="main-sidebar col-md-3">
    <h3 class="family-sans text-primary">Latest Courses</h3>
    {% set itemList = courselist %}
    {% include "sidebar.njk" %}
  </div>
</div>