---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="mt-3 h2 family-emphasis font-weight-bold text-primary ">Tagged “{{ tag }}”</div>

{% set postslist = collections[ tag ] %}
{% include "itemslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
